<mat-toolbar color="primary">
  <span>
    <a routerLink="/">Schedule Constructor</a>
  </span>
  <span class="spacer"></span>
  <ul>
    <li *ngIf="!adminIsAuthenticated">
      <a mat-button routerLink="/auth/login" routerLinkActive="mat-accent">Login</a>
    </li>
    <li *ngIf="!adminIsAuthenticated">
      <a mat-button routerLink="/auth/signup" routerLinkActive="mat-accent">Signup</a>
    </li>
    <li *ngIf="adminIsAuthenticated">
      <a mat-button routerLink="/subjects" routerLinkActive="mat-accent">Subjects</a>
    </li>
    <li *ngIf="adminIsAuthenticated">
      <button mat-button (click)="onLogout()">Logout</button>
    </li>
  </ul>
</mat-toolbar>
