table {
  width: 100%;
}
th, td {
  border-bottom: 1px solid #ddd;
  height: 4rem;
}
h2 {
  text-align: center;
  margin: auto;
}
mat-spinner {
  margin: auto;
}

/* mat-form-field{
  width: 80%;
} */
