

<mat-card>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <h2>{{grade?.gradeNumber}} "{{grade?.gradeLiter}}"</h2>
    <mat-tab-group *ngIf="!isloading">
        <mat-tab label="Monday">
            <table class="mat-elevation-z8">
              <thead>
                <tr>
                  <td>№</td>
                  <td>Time</td>
                  <td>First Group</td>
                  <td>Second Group</td>
                </tr>
              </thead>
              <tbody>
                <!-- First lesson -->
                <tr>
                  <td>1</td>
                  <td>08.15 – 08.55</td>
                  <!-- First Group -->
                  <td>
                      <label style="font-weight:bold">{{ grade?.mondayFirstLessonFG }}</label>
                      <br>
                      <label>{{ grade?.mondayFirstLessonTeacherFG }} </label>
                      <label>{{ grade?.mondayFirstLessonClassroomFG }}</label>
                </td>
                  <!-- Second Group -->
                <td>
                    <label style="font-weight:bold">{{ grade?.mondayFirstLessonSG }}</label>
                    <br>
                    <label>{{ grade?.mondayFirstLessonTeacherSG }} </label>
                    <label>{{ grade?.mondayFirstLessonClassroomSG }}</label>
                </td>
                </tr>
                <!-- First lesson -->
                <!-- Second lesson -->
                <tr>
                  <td>2</td>
                  <td>09.05 – 09.45 </td>
                  <!-- First Group -->
                  <td>
                      <label style="font-weight:bold">{{ grade?.mondaySecondLessonFG }}</label>
                      <br>
                      <label>{{ grade?.mondaySecondLessonTeacherFG }} </label>
                      <label>{{ grade?.mondaySecondLessonClassroomFG }}</label>
                </td>
                  <!-- Second Group -->
                <td>
                    <label style="font-weight:bold">{{ grade?.mondaySecondLessonSG }}</label>
                    <br>
                    <label>{{ grade?.mondaySecondLessonTeacherSG }} </label>
                    <label>{{ grade?.mondaySecondLessonClassroomSG }}</label>
                </td>
                </tr>
                <!-- Second lesson -->
                <!-- Third lesson -->
                <tr>
                    <td>3</td>
                    <td>09.55 – 10.35</td>
                    <!-- First Group -->
                    <td>
                        <label style="font-weight:bold">{{ grade?.mondayThirdLessonFG }}</label>
                        <br>
                        <label>{{ grade?.mondayThirdLessonTeacherFG }} </label>
                        <label>{{ grade?.mondayThirdLessonClassroomFG }}</label>
                  </td>
                    <!-- Second Group -->
                  <td>
                      <label style="font-weight:bold">{{ grade?.mondayThirdLessonSG }}</label>
                      <br>
                      <label>{{ grade?.mondayThirdLessonTeacherSG }} </label>
                      <label>{{ grade?.mondayThirdLessonClassroomSG }}</label>
                  </td>
                </tr>
                <!-- Third lesson -->
                <!-- Fourth lesson -->
                <tr>
                  <td>4</td>
                  <td>10.45 – 11.25</td>
                  <!-- First Group -->
                  <td>
                      <label style="font-weight:bold">{{ grade?.mondayFourthLessonFG }}</label>
                      <br>
                      <label>{{ grade?.mondayFourthLessonTeacherFG }} </label>
                      <label>{{ grade?.mondayFourthLessonClassroomFG }}</label>
                </td>
                  <!-- Second Group -->
                <td>
                    <label style="font-weight:bold">{{ grade?.mondayFourthLessonSG }}</label>
                    <br>
                    <label>{{ grade?.mondayFourthLessonTeacherSG }} </label>
                    <label>{{ grade?.mondayFourthLessonClassroomSG }}</label>
                </td>
                </tr>
                <!-- Fourth lesson -->
                <!-- Fifth lesson -->
                <tr>
                  <td>5</td>
                  <td>11.50 – 12.30  </td>
                  <!-- First Group -->
                  <!-- First Group -->
                  <td>
                      <label style="font-weight:bold">{{ grade?.mondayFifthLessonFG }}</label>
                      <br>
                      <label>{{ grade?.mondayFifthLessonTeacherFG }} </label>
                      <label>{{ grade?.mondayFifthLessonClassroomFG }}</label>
                </td>
                  <!-- Second Group -->
                <td>
                    <label style="font-weight:bold">{{ grade?.mondayFifthLessonSG }}</label>
                    <br>
                    <label>{{ grade?.mondayFifthLessonTeacherSG }} </label>
                    <label>{{ grade?.mondayFifthLessonClassroomSG }}</label>
                </td>
                </tr>
                <!-- Fifth lesson -->
                <!-- Sixth lesson -->
                <tr>
                  <td>6</td>
                  <td>12.55 – 13.35</td>
                  <!-- First Group -->
                  <td>
                      <label style="font-weight:bold">{{ grade?.mondaySixthLessonFG }}</label>
                      <br>
                      <label>{{ grade?.mondaySixthLessonTeacherFG }} </label>
                      <label>{{ grade?.mondaySixthLessonClassroomFG }}</label>
                </td>
                  <!-- Second Group -->
                <td>
                    <label style="font-weight:bold">{{ grade?.mondaySixthLessonSG }}</label>
                    <br>
                    <label>{{ grade?.mondaySixthLessonTeacherSG }} </label>
                    <label>{{ grade?.mondaySixthLessonClassroomSG }}</label>
                </td>
                </tr>
                <!-- Sixth lesson -->
                <!-- Seventh lesson -->
                <tr>
                    <td>7</td>
                    <td>13.45 – 14.25</td>
                    <!-- First Group -->
                    <td>
                        <label style="font-weight:bold">{{ grade?.mondaySeventhLessonFG }}</label>
                        <br>
                        <label>{{ grade?.mondaySeventhLessonTeacherFG }} </label>
                        <label>{{ grade?.mondaySeventhLessonClassroomFG }}</label>
                  </td>
                    <!-- Second Group -->
                  <td>
                      <label style="font-weight:bold">{{ grade?.mondaySeventhLessonSG }}</label>
                      <br>
                      <label>{{ grade?.mondaySeventhLessonTeacherSG }} </label>
                      <label>{{ grade?.mondaySeventhLessonClassroomSG }}</label>
                  </td>
                </tr>
                <!-- Seventh lesson -->
                <!-- Eighth lesson -->
                <tr>
                  <td>8</td>
                  <td>14.35 – 15.15</td>
                  <!-- First Group -->
                  <td>
                      <label style="font-weight:bold">{{ grade?.mondayEighthLessonFG }}</label>
                      <br>
                      <label>{{ grade?.mondayEighthLessonTeacherFG }} </label>
                      <label>{{ grade?.mondayEighthLessonClassroomFG }}</label>
                </td>
                  <!-- Second Group -->
                <td>
                    <label style="font-weight:bold">{{ grade?.mondayEighthLessonSG }}</label>
                    <br>
                    <label>{{ grade?.mondayEighthLessonTeacherSG }} </label>
                    <label>{{ grade?.mondayEighthLessonClassroomSG }}</label>
                </td>
                </tr>
                <!-- Eighth lesson -->
                <!-- Ninth lesson -->
                <tr>
                    <td>9</td>
                    <td>15.30 – 16.10</td>
                    <!-- First Group -->
                    <td>
                        <label style="font-weight:bold">{{ grade?.mondayNinthLessonFG }}</label>
                        <br>
                        <label>{{ grade?.mondayNinthLessonTeacherFG }} </label>
                        <label>{{ grade?.mondayNinthLessonClassroomFG }}</label>
                  </td>
                    <!-- Second Group -->
                  <td>
                      <label style="font-weight:bold">{{ grade?.mondayNinthLessonSG }}</label>
                      <br>
                      <label>{{ grade?.mondayNinthLessonTeacherSG }} </label>
                      <label>{{ grade?.mondayNinthLessonClassroomSG }}</label>
                  </td>
                </tr>
                <!-- Ninth lesson -->
                <!-- Tenth lesson -->
                <tr>
                  <td>10</td>
                  <td>16.15 – 16.55  </td>
                  <!-- First Group -->
                  <td>
                      <label style="font-weight:bold">{{ grade?.mondayTenthLessonFG }}</label>
                      <br>
                      <label>{{ grade?.mondayTenthLessonTeacherFG }} </label>
                      <label>{{ grade?.mondayTenthLessonClassroomFG }}</label>
                </td>
                  <!-- Second Group -->
                <td>
                    <label style="font-weight:bold">{{ grade?.mondayTenthLessonSG }}</label>
                    <br>
                    <label>{{ grade?.mondayTenthLessonTeacherSG }} </label>
                    <label>{{ grade?.mondayTenthLessonClassroomSG }}</label>
                </td>
                </tr>
                <!-- Tenth lesson -->
              </tbody>
            </table>
        </mat-tab>
        <mat-tab label="Tuesday">
            <table class="mat-elevation-z8">
              <thead>
                <tr>
                  <td>№</td>
                  <td>Time</td>
                  <td>First Group</td>
                  <td>Second Group</td>
                </tr>
              </thead>
              <tbody>
                <!-- First lesson -->
                <tr>
                  <td>1</td>
                  <td>08.15 – 08.55</td>
                  <!-- First Group -->
                  <td>
                      <label style="font-weight:bold">{{ grade?.tuesdayFirstLessonFG }}</label>
                      <br>
                      <label>{{ grade?.tuesdayFirstLessonTeacherFG }} </label>
                      <label>{{ grade?.tuesdayFirstLessonClassroomFG }}</label>
                </td>
                  <!-- Second Group -->
                <td>
                    <label style="font-weight:bold">{{ grade?.tuesdayFirstLessonSG }}</label>
                    <br>
                    <label>{{ grade?.tuesdayFirstLessonTeacherSG }} </label>
                    <label>{{ grade?.tuesdayFirstLessonClassroomSG }}</label>
                </td>
                </tr>
                <!-- First lesson -->
                <!-- Second lesson -->
                <tr>
                  <td>2</td>
                  <td>09.05 – 09.45 </td>
                  <!-- First Group -->
                  <td>
                      <label style="font-weight:bold">{{ grade?.tuesdaySecondLessonFG }}</label>
                      <br>
                      <label>{{ grade?.tuesdaySecondLessonTeacherFG }} </label>
                      <label>{{ grade?.tuesdaySecondLessonClassroomFG }}</label>
                </td>
                  <!-- Second Group -->
                <td>
                    <label style="font-weight:bold">{{ grade?.tuesdaySecondLessonSG }}</label>
                    <br>
                    <label>{{ grade?.tuesdaySecondLessonTeacherSG }} </label>
                    <label>{{ grade?.tuesdaySecondLessonClassroomSG }}</label>
                </td>
                </tr>
                <!-- Second lesson -->
                <!-- Third lesson -->
                <tr>
                    <td>3</td>
                    <td>09.55 – 10.35</td>
                    <!-- First Group -->
                    <td>
                        <label style="font-weight:bold">{{ grade?.tuesdayThirdLessonFG }}</label>
                        <br>
                        <label>{{ grade?.tuesdayThirdLessonTeacherFG }} </label>
                        <label>{{ grade?.tuesdayThirdLessonClassroomFG }}</label>
                  </td>
                    <!-- Second Group -->
                  <td>
                      <label style="font-weight:bold">{{ grade?.tuesdayThirdLessonSG }}</label>
                      <br>
                      <label>{{ grade?.tuesdayThirdLessonTeacherSG }} </label>
                      <label>{{ grade?.tuesdayThirdLessonClassroomSG }}</label>
                  </td>
                </tr>
                <!-- Third lesson -->
                <!-- Fourth lesson -->
                <tr>
                  <td>4</td>
                  <td>10.45 – 11.25</td>
                  <!-- First Group -->
                  <td>
                      <label style="font-weight:bold">{{ grade?.tuesdayFourthLessonFG }}</label>
                      <br>
                      <label>{{ grade?.tuesdayFourthLessonTeacherFG }} </label>
                      <label>{{ grade?.tuesdayFourthLessonClassroomFG }}</label>
                </td>
                  <!-- Second Group -->
                <td>
                    <label style="font-weight:bold">{{ grade?.tuesdayFourthLessonSG }}</label>
                    <br>
                    <label>{{ grade?.tuesdayFourthLessonTeacherSG }} </label>
                    <label>{{ grade?.tuesdayFourthLessonClassroomSG }}</label>
                </td>
                </tr>
                <!-- Fourth lesson -->
                <!-- Fifth lesson -->
                <tr>
                  <td>5</td>
                  <td>11.50 – 12.30  </td>
                  <!-- First Group -->
                  <!-- First Group -->
                  <td>
                      <label style="font-weight:bold">{{ grade?.tuesdayFifthLessonFG }}</label>
                      <br>
                      <label>{{ grade?.tuesdayFifthLessonTeacherFG }} </label>
                      <label>{{ grade?.tuesdayFifthLessonClassroomFG }}</label>
                </td>
                  <!-- Second Group -->
                <td>
                    <label style="font-weight:bold">{{ grade?.tuesdayFifthLessonSG }}</label>
                    <br>
                    <label>{{ grade?.tuesdayFifthLessonTeacherSG }} </label>
                    <label>{{ grade?.tuesdayFifthLessonClassroomSG }}</label>
                </td>
                </tr>
                <!-- Fifth lesson -->
                <!-- Sixth lesson -->
                <tr>
                  <td>6</td>
                  <td>12.55 – 13.35</td>
                  <!-- First Group -->
                  <td>
                      <label style="font-weight:bold">{{ grade?.tuesdaySixthLessonFG }}</label>
                      <br>
                      <label>{{ grade?.tuesdaySixthLessonTeacherFG }} </label>
                      <label>{{ grade?.tuesdaySixthLessonClassroomFG }}</label>
                </td>
                  <!-- Second Group -->
                <td>
                    <label style="font-weight:bold">{{ grade?.tuesdaySixthLessonSG }}</label>
                    <br>
                    <label>{{ grade?.tuesdaySixthLessonTeacherSG }} </label>
                    <label>{{ grade?.tuesdaySixthLessonClassroomSG }}</label>
                </td>
                </tr>
                <!-- Sixth lesson -->
                <!-- Seventh lesson -->
                <tr>
                    <td>7</td>
                    <td>13.45 – 14.25</td>
                    <!-- First Group -->
                    <td>
                        <label style="font-weight:bold">{{ grade?.tuesdaySeventhLessonFG }}</label>
                        <br>
                        <label>{{ grade?.tuesdaySeventhLessonTeacherFG }} </label>
                        <label>{{ grade?.tuesdaySeventhLessonClassroomFG }}</label>
                  </td>
                    <!-- Second Group -->
                  <td>
                      <label style="font-weight:bold">{{ grade?.tuesdaySeventhLessonSG }}</label>
                      <br>
                      <label>{{ grade?.tuesdaySeventhLessonTeacherSG }} </label>
                      <label>{{ grade?.tuesdaySeventhLessonClassroomSG }}</label>
                  </td>
                </tr>
                <!-- Seventh lesson -->
                <!-- Eighth lesson -->
                <tr>
                  <td>8</td>
                  <td>14.35 – 15.15</td>
                  <!-- First Group -->
                  <td>
                      <label style="font-weight:bold">{{ grade?.tuesdayEighthLessonFG }}</label>
                      <br>
                      <label>{{ grade?.tuesdayEighthLessonTeacherFG }} </label>
                      <label>{{ grade?.tuesdayEighthLessonClassroomFG }}</label>
                </td>
                  <!-- Second Group -->
                <td>
                    <label style="font-weight:bold">{{ grade?.tuesdayEighthLessonSG }}</label>
                    <br>
                    <label>{{ grade?.tuesdayEighthLessonTeacherSG }} </label>
                    <label>{{ grade?.tuesdayEighthLessonClassroomSG }}</label>
                </td>
                </tr>
                <!-- Eighth lesson -->
                <!-- Ninth lesson -->
                <tr>
                    <td>9</td>
                    <td>15.30 – 16.10</td>
                    <!-- First Group -->
                    <td>
                        <label style="font-weight:bold">{{ grade?.tuesdayNinthLessonFG }}</label>
                        <br>
                        <label>{{ grade?.tuesdayNinthLessonTeacherFG }} </label>
                        <label>{{ grade?.tuesdayNinthLessonClassroomFG }}</label>
                  </td>
                    <!-- Second Group -->
                  <td>
                      <label style="font-weight:bold">{{ grade?.tuesdayNinthLessonSG }}</label>
                      <br>
                      <label>{{ grade?.tuesdayNinthLessonTeacherSG }} </label>
                      <label>{{ grade?.tuesdayNinthLessonClassroomSG }}</label>
                  </td>
                </tr>
                <!-- Ninth lesson -->
                <!-- Tenth lesson -->
                <tr>
                  <td>10</td>
                  <td>16.15 – 16.55  </td>
                  <!-- First Group -->
                  <td>
                      <label style="font-weight:bold">{{ grade?.tuesdayTenthLessonFG }}</label>
                      <br>
                      <label>{{ grade?.tuesdayTenthLessonTeacherFG }} </label>
                      <label>{{ grade?.tuesdayTenthLessonClassroomFG }}</label>
                </td>
                  <!-- Second Group -->
                <td>
                    <label style="font-weight:bold">{{ grade?.tuesdayTenthLessonSG }}</label>
                    <br>
                    <label>{{ grade?.tuesdayTenthLessonTeacherSG }} </label>
                    <label>{{ grade?.tuesdayTenthLessonClassroomSG }}</label>
                </td>
                </tr>
                <!-- Tenth lesson -->
              </tbody>
            </table>
        </mat-tab>
        <mat-tab label="Wednesday">
            <table class="mat-elevation-z8">
              <thead>
                <tr>
                  <td>№</td>
                  <td>Time</td>
                  <td>First Group</td>
                  <td>Second Group</td>
                </tr>
              </thead>
              <tbody>
                <!-- First lesson -->
                <tr>
                  <td>1</td>
                  <td>08.15 – 08.55</td>
                  <!-- First Group -->
                  <td>
                      <label style="font-weight:bold">{{ grade?.wednesdayFirstLessonFG }}</label>
                      <br>
                      <label>{{ grade?.wednesdayFirstLessonTeacherFG }} </label>
                      <label>{{ grade?.wednesdayFirstLessonClassroomFG }}</label>
                </td>
                  <!-- Second Group -->
                <td>
                    <label style="font-weight:bold">{{ grade?.wednesdayFirstLessonSG }}</label>
                    <br>
                    <label>{{ grade?.wednesdayFirstLessonTeacherSG }} </label>
                    <label>{{ grade?.wednesdayFirstLessonClassroomSG }}</label>
                </td>
                </tr>
                <!-- First lesson -->
                <!-- Second lesson -->
                <tr>
                  <td>2</td>
                  <td>09.05 – 09.45 </td>
                  <!-- First Group -->
                  <td>
                      <label style="font-weight:bold">{{ grade?.wednesdaySecondLessonFG }}</label>
                      <br>
                      <label>{{ grade?.wednesdaySecondLessonTeacherFG }} </label>
                      <label>{{ grade?.wednesdaySecondLessonClassroomFG }}</label>
                </td>
                  <!-- Second Group -->
                <td>
                    <label style="font-weight:bold">{{ grade?.wednesdaySecondLessonSG }}</label>
                    <br>
                    <label>{{ grade?.wednesdaySecondLessonTeacherSG }} </label>
                    <label>{{ grade?.wednesdaySecondLessonClassroomSG }}</label>
                </td>
                </tr>
                <!-- Second lesson -->
                <!-- Third lesson -->
                <tr>
                    <td>3</td>
                    <td>09.55 – 10.35</td>
                    <!-- First Group -->
                    <td>
                        <label style="font-weight:bold">{{ grade?.wednesdayThirdLessonFG }}</label>
                        <br>
                        <label>{{ grade?.wednesdayThirdLessonTeacherFG }} </label>
                        <label>{{ grade?.wednesdayThirdLessonClassroomFG }}</label>
                  </td>
                    <!-- Second Group -->
                  <td>
                      <label style="font-weight:bold">{{ grade?.wednesdayThirdLessonSG }}</label>
                      <br>
                      <label>{{ grade?.wednesdayThirdLessonTeacherSG }} </label>
                      <label>{{ grade?.wednesdayThirdLessonClassroomSG }}</label>
                  </td>
                </tr>
                <!-- Third lesson -->
                <!-- Fourth lesson -->
                <tr>
                  <td>4</td>
                  <td>10.45 – 11.25</td>
                  <!-- First Group -->
                  <td>
                      <label style="font-weight:bold">{{ grade?.wednesdayFourthLessonFG }}</label>
                      <br>
                      <label>{{ grade?.wednesdayFourthLessonTeacherFG }} </label>
                      <label>{{ grade?.wednesdayFourthLessonClassroomFG }}</label>
                </td>
                  <!-- Second Group -->
                <td>
                    <label style="font-weight:bold">{{ grade?.wednesdayFourthLessonSG }}</label>
                    <br>
                    <label>{{ grade?.wednesdayFourthLessonTeacherSG }} </label>
                    <label>{{ grade?.wednesdayFourthLessonClassroomSG }}</label>
                </td>
                </tr>
                <!-- Fourth lesson -->
                <!-- Fifth lesson -->
                <tr>
                  <td>5</td>
                  <td>11.50 – 12.30  </td>
                  <!-- First Group -->
                  <!-- First Group -->
                  <td>
                      <label style="font-weight:bold">{{ grade?.wednesdayFifthLessonFG }}</label>
                      <br>
                      <label>{{ grade?.wednesdayFifthLessonTeacherFG }} </label>
                      <label>{{ grade?.wednesdayFifthLessonClassroomFG }}</label>
                </td>
                  <!-- Second Group -->
                <td>
                    <label style="font-weight:bold">{{ grade?.wednesdayFifthLessonSG }}</label>
                    <br>
                    <label>{{ grade?.wednesdayFifthLessonTeacherSG }} </label>
                    <label>{{ grade?.wednesdayFifthLessonClassroomSG }}</label>
                </td>
                </tr>
                <!-- Fifth lesson -->
                <!-- Sixth lesson -->
                <tr>
                  <td>6</td>
                  <td>12.55 – 13.35</td>
                  <!-- First Group -->
                  <td>
                      <label style="font-weight:bold">{{ grade?.wednesdaySixthLessonFG }}</label>
                      <br>
                      <label>{{ grade?.wednesdaySixthLessonTeacherFG }} </label>
                      <label>{{ grade?.wednesdaySixthLessonClassroomFG }}</label>
                </td>
                  <!-- Second Group -->
                <td>
                    <label style="font-weight:bold">{{ grade?.wednesdaySixthLessonSG }}</label>
                    <br>
                    <label>{{ grade?.wednesdaySixthLessonTeacherSG }} </label>
                    <label>{{ grade?.wednesdaySixthLessonClassroomSG }}</label>
                </td>
                </tr>
                <!-- Sixth lesson -->
                <!-- Seventh lesson -->
                <tr>
                    <td>7</td>
                    <td>13.45 – 14.25</td>
                    <!-- First Group -->
                    <td>
                        <label style="font-weight:bold">{{ grade?.wednesdaySeventhLessonFG }}</label>
                        <br>
                        <label>{{ grade?.wednesdaySeventhLessonTeacherFG }} </label>
                        <label>{{ grade?.wednesdaySeventhLessonClassroomFG }}</label>
                  </td>
                    <!-- Second Group -->
                  <td>
                      <label style="font-weight:bold">{{ grade?.wednesdaySeventhLessonSG }}</label>
                      <br>
                      <label>{{ grade?.wednesdaySeventhLessonTeacherSG }} </label>
                      <label>{{ grade?.wednesdaySeventhLessonClassroomSG }}</label>
                  </td>
                </tr>
                <!-- Seventh lesson -->
                <!-- Eighth lesson -->
                <tr>
                  <td>8</td>
                  <td>14.35 – 15.15</td>
                  <!-- First Group -->
                  <td>
                      <label style="font-weight:bold">{{ grade?.wednesdayEighthLessonFG }}</label>
                      <br>
                      <label>{{ grade?.wednesdayEighthLessonTeacherFG }} </label>
                      <label>{{ grade?.wednesdayEighthLessonClassroomFG }}</label>
                </td>
                  <!-- Second Group -->
                <td>
                    <label style="font-weight:bold">{{ grade?.wednesdayEighthLessonSG }}</label>
                    <br>
                    <label>{{ grade?.wednesdayEighthLessonTeacherSG }} </label>
                    <label>{{ grade?.wednesdayEighthLessonClassroomSG }}</label>
                </td>
                </tr>
                <!-- Eighth lesson -->
                <!-- Ninth lesson -->
                <tr>
                    <td>9</td>
                    <td>15.30 – 16.10</td>
                    <!-- First Group -->
                    <td>
                        <label style="font-weight:bold">{{ grade?.wednesdayNinthLessonFG }}</label>
                        <br>
                        <label>{{ grade?.wednesdayNinthLessonTeacherFG }} </label>
                        <label>{{ grade?.wednesdayNinthLessonClassroomFG }}</label>
                  </td>
                    <!-- Second Group -->
                  <td>
                      <label style="font-weight:bold">{{ grade?.wednesdayNinthLessonSG }}</label>
                      <br>
                      <label>{{ grade?.wednesdayNinthLessonTeacherSG }} </label>
                      <label>{{ grade?.wednesdayNinthLessonClassroomSG }}</label>
                  </td>
                </tr>
                <!-- Ninth lesson -->
                <!-- Tenth lesson -->
                <tr>
                  <td>10</td>
                  <td>16.15 – 16.55  </td>
                  <!-- First Group -->
                  <td>
                      <label style="font-weight:bold">{{ grade?.wednesdayTenthLessonFG }}</label>
                      <br>
                      <label>{{ grade?.wednesdayTenthLessonTeacherFG }} </label>
                      <label>{{ grade?.wednesdayTenthLessonClassroomFG }}</label>
                </td>
                  <!-- Second Group -->
                <td>
                    <label style="font-weight:bold">{{ grade?.wednesdayTenthLessonSG }}</label>
                    <br>
                    <label>{{ grade?.wednesdayTenthLessonTeacherSG }} </label>
                    <label>{{ grade?.wednesdayTenthLessonClassroomSG }}</label>
                </td>
                </tr>
                <!-- Tenth lesson -->
              </tbody>
            </table>
        </mat-tab>
        <mat-tab label="Thursday">
            <table class="mat-elevation-z8">
              <thead>
                <tr>
                  <td>№</td>
                  <td>Time</td>
                  <td>First Group</td>
                  <td>Second Group</td>
                </tr>
              </thead>
              <tbody>
                <!-- First lesson -->
                <tr>
                  <td>1</td>
                  <td>08.15 – 08.55</td>
                  <!-- First Group -->
                  <td>
                      <label style="font-weight:bold">{{ grade?.thursdayFirstLessonFG }}</label>
                      <br>
                      <label>{{ grade?.thursdayFirstLessonTeacherFG }} </label>
                      <label>{{ grade?.thursdayFirstLessonClassroomFG }}</label>
                </td>
                  <!-- Second Group -->
                <td>
                    <label style="font-weight:bold">{{ grade?.thursdayFirstLessonSG }}</label>
                    <br>
                    <label>{{ grade?.thursdayFirstLessonTeacherSG }} </label>
                    <label>{{ grade?.thursdayFirstLessonClassroomSG }}</label>
                </td>
                </tr>
                <!-- First lesson -->
                <!-- Second lesson -->
                <tr>
                  <td>2</td>
                  <td>09.05 – 09.45 </td>
                  <!-- First Group -->
                  <td>
                      <label style="font-weight:bold">{{ grade?.thursdaySecondLessonFG }}</label>
                      <br>
                      <label>{{ grade?.thursdaySecondLessonTeacherFG }} </label>
                      <label>{{ grade?.thursdaySecondLessonClassroomFG }}</label>
                </td>
                  <!-- Second Group -->
                <td>
                    <label style="font-weight:bold">{{ grade?.thursdaySecondLessonSG }}</label>
                    <br>
                    <label>{{ grade?.thursdaySecondLessonTeacherSG }} </label>
                    <label>{{ grade?.thursdaySecondLessonClassroomSG }}</label>
                </td>
                </tr>
                <!-- Second lesson -->
                <!-- Third lesson -->
                <tr>
                    <td>3</td>
                    <td>09.55 – 10.35</td>
                    <!-- First Group -->
                    <td>
                        <label style="font-weight:bold">{{ grade?.thursdayThirdLessonFG }}</label>
                        <br>
                        <label>{{ grade?.thursdayThirdLessonTeacherFG }} </label>
                        <label>{{ grade?.thursdayThirdLessonClassroomFG }}</label>
                  </td>
                    <!-- Second Group -->
                  <td>
                      <label style="font-weight:bold">{{ grade?.thursdayThirdLessonSG }}</label>
                      <br>
                      <label>{{ grade?.thursdayThirdLessonTeacherSG }} </label>
                      <label>{{ grade?.thursdayThirdLessonClassroomSG }}</label>
                  </td>
                </tr>
                <!-- Third lesson -->
                <!-- Fourth lesson -->
                <tr>
                  <td>4</td>
                  <td>10.45 – 11.25</td>
                  <!-- First Group -->
                  <td>
                      <label style="font-weight:bold">{{ grade?.thursdayFourthLessonFG }}</label>
                      <br>
                      <label>{{ grade?.thursdayFourthLessonTeacherFG }} </label>
                      <label>{{ grade?.thursdayFourthLessonClassroomFG }}</label>
                </td>
                  <!-- Second Group -->
                <td>
                    <label style="font-weight:bold">{{ grade?.thursdayFourthLessonSG }}</label>
                    <br>
                    <label>{{ grade?.thursdayFourthLessonTeacherSG }} </label>
                    <label>{{ grade?.thursdayFourthLessonClassroomSG }}</label>
                </td>
                </tr>
                <!-- Fourth lesson -->
                <!-- Fifth lesson -->
                <tr>
                  <td>5</td>
                  <td>11.50 – 12.30  </td>
                  <!-- First Group -->
                  <!-- First Group -->
                  <td>
                      <label style="font-weight:bold">{{ grade?.thursdayFifthLessonFG }}</label>
                      <br>
                      <label>{{ grade?.thursdayFifthLessonTeacherFG }} </label>
                      <label>{{ grade?.thursdayFifthLessonClassroomFG }}</label>
                </td>
                  <!-- Second Group -->
                <td>
                    <label style="font-weight:bold">{{ grade?.thursdayFifthLessonSG }}</label>
                    <br>
                    <label>{{ grade?.thursdayFifthLessonTeacherSG }} </label>
                    <label>{{ grade?.thursdayFifthLessonClassroomSG }}</label>
                </td>
                </tr>
                <!-- Fifth lesson -->
                <!-- Sixth lesson -->
                <tr>
                  <td>6</td>
                  <td>12.55 – 13.35</td>
                  <!-- First Group -->
                  <td>
                      <label style="font-weight:bold">{{ grade?.thursdaySixthLessonFG }}</label>
                      <br>
                      <label>{{ grade?.thursdaySixthLessonTeacherFG }} </label>
                      <label>{{ grade?.thursdaySixthLessonClassroomFG }}</label>
                </td>
                  <!-- Second Group -->
                <td>
                    <label style="font-weight:bold">{{ grade?.thursdaySixthLessonSG }}</label>
                    <br>
                    <label>{{ grade?.thursdaySixthLessonTeacherSG }} </label>
                    <label>{{ grade?.thursdaySixthLessonClassroomSG }}</label>
                </td>
                </tr>
                <!-- Sixth lesson -->
                <!-- Seventh lesson -->
                <tr>
                    <td>7</td>
                    <td>13.45 – 14.25</td>
                    <!-- First Group -->
                    <td>
                        <label style="font-weight:bold">{{ grade?.thursdaySeventhLessonFG }}</label>
                        <br>
                        <label>{{ grade?.thursdaySeventhLessonTeacherFG }} </label>
                        <label>{{ grade?.thursdaySeventhLessonClassroomFG }}</label>
                  </td>
                    <!-- Second Group -->
                  <td>
                      <label style="font-weight:bold">{{ grade?.thursdaySeventhLessonSG }}</label>
                      <br>
                      <label>{{ grade?.thursdaySeventhLessonTeacherSG }} </label>
                      <label>{{ grade?.thursdaySeventhLessonClassroomSG }}</label>
                  </td>
                </tr>
                <!-- Seventh lesson -->
                <!-- Eighth lesson -->
                <tr>
                  <td>8</td>
                  <td>14.35 – 15.15</td>
                  <!-- First Group -->
                  <td>
                      <label style="font-weight:bold">{{ grade?.thursdayEighthLessonFG }}</label>
                      <br>
                      <label>{{ grade?.thursdayEighthLessonTeacherFG }} </label>
                      <label>{{ grade?.thursdayEighthLessonClassroomFG }}</label>
                </td>
                  <!-- Second Group -->
                <td>
                    <label style="font-weight:bold">{{ grade?.thursdayEighthLessonSG }}</label>
                    <br>
                    <label>{{ grade?.thursdayEighthLessonTeacherSG }} </label>
                    <label>{{ grade?.thursdayEighthLessonClassroomSG }}</label>
                </td>
                </tr>
                <!-- Eighth lesson -->
                <!-- Ninth lesson -->
                <tr>
                    <td>9</td>
                    <td>15.30 – 16.10</td>
                    <!-- First Group -->
                    <td>
                        <label style="font-weight:bold">{{ grade?.thursdayNinthLessonFG }}</label>
                        <br>
                        <label>{{ grade?.thursdayNinthLessonTeacherFG }} </label>
                        <label>{{ grade?.thursdayNinthLessonClassroomFG }}</label>
                  </td>
                    <!-- Second Group -->
                  <td>
                      <label style="font-weight:bold">{{ grade?.thursdayNinthLessonSG }}</label>
                      <br>
                      <label>{{ grade?.thursdayNinthLessonTeacherSG }} </label>
                      <label>{{ grade?.thursdayNinthLessonClassroomSG }}</label>
                  </td>
                </tr>
                <!-- Ninth lesson -->
                <!-- Tenth lesson -->
                <tr>
                  <td>10</td>
                  <td>16.15 – 16.55  </td>
                  <!-- First Group -->
                  <td>
                      <label style="font-weight:bold">{{ grade?.thursdayTenthLessonFG }}</label>
                      <br>
                      <label>{{ grade?.thursdayTenthLessonTeacherFG }} </label>
                      <label>{{ grade?.thursdayTenthLessonClassroomFG }}</label>
                </td>
                  <!-- Second Group -->
                <td>
                    <label style="font-weight:bold">{{ grade?.thursdayTenthLessonSG }}</label>
                    <br>
                    <label>{{ grade?.thursdayTenthLessonTeacherSG }} </label>
                    <label>{{ grade?.thursdayTenthLessonClassroomSG }}</label>
                </td>
                </tr>
                <!-- Tenth lesson -->
              </tbody>
            </table>
        </mat-tab>
        <mat-tab label="Friday">
            <table class="mat-elevation-z8">
              <thead>
                <tr>
                  <td>№</td>
                  <td>Time</td>
                  <td>First Group</td>
                  <td>Second Group</td>
                </tr>
              </thead>
              <tbody>
                <!-- First lesson -->
                <tr>
                  <td>1</td>
                  <td>08.15 – 08.55</td>
                  <!-- First Group -->
                  <td>
                      <label style="font-weight:bold">{{ grade?.fridayFirstLessonFG }}</label>
                      <br>
                      <label>{{ grade?.fridayFirstLessonTeacherFG }} </label>
                      <label>{{ grade?.fridayFirstLessonClassroomFG }}</label>
                </td>
                  <!-- Second Group -->
                <td>
                    <label style="font-weight:bold">{{ grade?.fridayFirstLessonSG }}</label>
                    <br>
                    <label>{{ grade?.fridayFirstLessonTeacherSG }} </label>
                    <label>{{ grade?.fridayFirstLessonClassroomSG }}</label>
                </td>
                </tr>
                <!-- First lesson -->
                <!-- Second lesson -->
                <tr>
                  <td>2</td>
                  <td>09.05 – 09.45 </td>
                  <!-- First Group -->
                  <td>
                      <label style="font-weight:bold">{{ grade?.fridaySecondLessonFG }}</label>
                      <br>
                      <label>{{ grade?.fridaySecondLessonTeacherFG }} </label>
                      <label>{{ grade?.fridaySecondLessonClassroomFG }}</label>
                </td>
                  <!-- Second Group -->
                <td>
                    <label style="font-weight:bold">{{ grade?.fridaySecondLessonSG }}</label>
                    <br>
                    <label>{{ grade?.fridaySecondLessonTeacherSG }} </label>
                    <label>{{ grade?.fridaySecondLessonClassroomSG }}</label>
                </td>
                </tr>
                <!-- Second lesson -->
                <!-- Third lesson -->
                <tr>
                    <td>3</td>
                    <td>09.55 – 10.35</td>
                    <!-- First Group -->
                    <td>
                        <label style="font-weight:bold">{{ grade?.fridayThirdLessonFG }}</label>
                        <br>
                        <label>{{ grade?.fridayThirdLessonTeacherFG }} </label>
                        <label>{{ grade?.fridayThirdLessonClassroomFG }}</label>
                  </td>
                    <!-- Second Group -->
                  <td>
                      <label style="font-weight:bold">{{ grade?.fridayThirdLessonSG }}</label>
                      <br>
                      <label>{{ grade?.fridayThirdLessonTeacherSG }} </label>
                      <label>{{ grade?.fridayThirdLessonClassroomSG }}</label>
                  </td>
                </tr>
                <!-- Third lesson -->
                <!-- Fourth lesson -->
                <tr>
                  <td>4</td>
                  <td>10.45 – 11.25</td>
                  <!-- First Group -->
                  <td>
                      <label style="font-weight:bold">{{ grade?.fridayFourthLessonFG }}</label>
                      <br>
                      <label>{{ grade?.fridayFourthLessonTeacherFG }} </label>
                      <label>{{ grade?.fridayFourthLessonClassroomFG }}</label>
                </td>
                  <!-- Second Group -->
                <td>
                    <label style="font-weight:bold">{{ grade?.fridayFourthLessonSG }}</label>
                    <br>
                    <label>{{ grade?.fridayFourthLessonTeacherSG }} </label>
                    <label>{{ grade?.fridayFourthLessonClassroomSG }}</label>
                </td>
                </tr>
                <!-- Fourth lesson -->
                <!-- Fifth lesson -->
                <tr>
                  <td>5</td>
                  <td>11.50 – 12.30  </td>
                  <!-- First Group -->
                  <!-- First Group -->
                  <td>
                      <label style="font-weight:bold">{{ grade?.fridayFifthLessonFG }}</label>
                      <br>
                      <label>{{ grade?.fridayFifthLessonTeacherFG }} </label>
                      <label>{{ grade?.fridayFifthLessonClassroomFG }}</label>
                </td>
                  <!-- Second Group -->
                <td>
                    <label style="font-weight:bold">{{ grade?.fridayFifthLessonSG }}</label>
                    <br>
                    <label>{{ grade?.fridayFifthLessonTeacherSG }} </label>
                    <label>{{ grade?.fridayFifthLessonClassroomSG }}</label>
                </td>
                </tr>
                <!-- Fifth lesson -->
                <!-- Sixth lesson -->
                <tr>
                  <td>6</td>
                  <td>12.55 – 13.35</td>
                  <!-- First Group -->
                  <td>
                      <label style="font-weight:bold">{{ grade?.fridaySixthLessonFG }}</label>
                      <br>
                      <label>{{ grade?.fridaySixthLessonTeacherFG }} </label>
                      <label>{{ grade?.fridaySixthLessonClassroomFG }}</label>
                </td>
                  <!-- Second Group -->
                <td>
                    <label style="font-weight:bold">{{ grade?.fridaySixthLessonSG }}</label>
                    <br>
                    <label>{{ grade?.fridaySixthLessonTeacherSG }} </label>
                    <label>{{ grade?.fridaySixthLessonClassroomSG }}</label>
                </td>
                </tr>
                <!-- Sixth lesson -->
                <!-- Seventh lesson -->
                <tr>
                    <td>7</td>
                    <td>13.45 – 14.25</td>
                    <!-- First Group -->
                    <td>
                        <label style="font-weight:bold">{{ grade?.fridaySeventhLessonFG }}</label>
                        <br>
                        <label>{{ grade?.fridaySeventhLessonTeacherFG }} </label>
                        <label>{{ grade?.fridaySeventhLessonClassroomFG }}</label>
                  </td>
                    <!-- Second Group -->
                  <td>
                      <label style="font-weight:bold">{{ grade?.fridaySeventhLessonSG }}</label>
                      <br>
                      <label>{{ grade?.fridaySeventhLessonTeacherSG }} </label>
                      <label>{{ grade?.fridaySeventhLessonClassroomSG }}</label>
                  </td>
                </tr>
                <!-- Seventh lesson -->
                <!-- Eighth lesson -->
                <tr>
                  <td>8</td>
                  <td>14.35 – 15.15</td>
                  <!-- First Group -->
                  <td>
                      <label style="font-weight:bold">{{ grade?.fridayEighthLessonFG }}</label>
                      <br>
                      <label>{{ grade?.fridayEighthLessonTeacherFG }} </label>
                      <label>{{ grade?.fridayEighthLessonClassroomFG }}</label>
                </td>
                  <!-- Second Group -->
                <td>
                    <label style="font-weight:bold">{{ grade?.fridayEighthLessonSG }}</label>
                    <br>
                    <label>{{ grade?.fridayEighthLessonTeacherSG }} </label>
                    <label>{{ grade?.fridayEighthLessonClassroomSG }}</label>
                </td>
                </tr>
                <!-- Eighth lesson -->
                <!-- Ninth lesson -->
                <tr>
                    <td>9</td>
                    <td>15.30 – 16.10</td>
                    <!-- First Group -->
                    <td>
                        <label style="font-weight:bold">{{ grade?.fridayNinthLessonFG }}</label>
                        <br>
                        <label>{{ grade?.fridayNinthLessonTeacherFG }} </label>
                        <label>{{ grade?.fridayNinthLessonClassroomFG }}</label>
                  </td>
                    <!-- Second Group -->
                  <td>
                      <label style="font-weight:bold">{{ grade?.fridayNinthLessonSG }}</label>
                      <br>
                      <label>{{ grade?.fridayNinthLessonTeacherSG }} </label>
                      <label>{{ grade?.fridayNinthLessonClassroomSG }}</label>
                  </td>
                </tr>
                <!-- Ninth lesson -->
                <!-- Tenth lesson -->
                <tr>
                  <td>10</td>
                  <td>16.15 – 16.55  </td>
                  <!-- First Group -->
                  <td>
                      <label style="font-weight:bold">{{ grade?.fridayTenthLessonFG }}</label>
                      <br>
                      <label>{{ grade?.fridayTenthLessonTeacherFG }} </label>
                      <label>{{ grade?.fridayTenthLessonClassroomFG }}</label>
                </td>
                  <!-- Second Group -->
                <td>
                    <label style="font-weight:bold">{{ grade?.fridayTenthLessonSG }}</label>
                    <br>
                    <label>{{ grade?.fridayTenthLessonTeacherSG }} </label>
                    <label>{{ grade?.fridayTenthLessonClassroomSG }}</label>
                </td>
                </tr>
                <!-- Tenth lesson -->
              </tbody>
            </table>
        </mat-tab>
        <mat-tab *ngIf="grade?.gradeNumber>7" label="Saturday">
            <table class="mat-elevation-z8">
              <thead>
                <tr>
                  <td>№</td>
                  <td>Time</td>
                  <td>First Group</td>
                  <td>Second Group</td>
                </tr>
              </thead>
              <tbody>
                <!-- First lesson -->
                <tr>
                  <td>1</td>
                  <td>08.15 – 08.55</td>
                  <!-- First Group -->
                  <td>
                      <label style="font-weight:bold">{{ grade?.saturdayFirstLessonFG }}</label>
                      <br>
                      <label>{{ grade?.saturdayFirstLessonTeacherFG }} </label>
                      <label>{{ grade?.saturdayFirstLessonClassroomFG }}</label>
                </td>
                  <!-- Second Group -->
                <td>
                    <label style="font-weight:bold">{{ grade?.saturdayFirstLessonSG }}</label>
                    <br>
                    <label>{{ grade?.saturdayFirstLessonTeacherSG }} </label>
                    <label>{{ grade?.saturdayFirstLessonClassroomSG }}</label>
                </td>
                </tr>
                <!-- First lesson -->
                <!-- Second lesson -->
                <tr>
                  <td>2</td>
                  <td>09.05 – 09.45 </td>
                  <!-- First Group -->
                  <td>
                      <label style="font-weight:bold">{{ grade?.saturdaySecondLessonFG }}</label>
                      <br>
                      <label>{{ grade?.saturdaySecondLessonTeacherFG }} </label>
                      <label>{{ grade?.saturdaySecondLessonClassroomFG }}</label>
                </td>
                  <!-- Second Group -->
                <td>
                    <label style="font-weight:bold">{{ grade?.saturdaySecondLessonSG }}</label>
                    <br>
                    <label>{{ grade?.saturdaySecondLessonTeacherSG }} </label>
                    <label>{{ grade?.saturdaySecondLessonClassroomSG }}</label>
                </td>
                </tr>
                <!-- Second lesson -->
                <!-- Third lesson -->
                <tr>
                    <td>3</td>
                    <td>09.55 – 10.35</td>
                    <!-- First Group -->
                    <td>
                        <label style="font-weight:bold">{{ grade?.saturdayThirdLessonFG }}</label>
                        <br>
                        <label>{{ grade?.saturdayThirdLessonTeacherFG }} </label>
                        <label>{{ grade?.saturdayThirdLessonClassroomFG }}</label>
                  </td>
                    <!-- Second Group -->
                  <td>
                      <label style="font-weight:bold">{{ grade?.saturdayThirdLessonSG }}</label>
                      <br>
                      <label>{{ grade?.saturdayThirdLessonTeacherSG }} </label>
                      <label>{{ grade?.saturdayThirdLessonClassroomSG }}</label>
                  </td>
                </tr>
                <!-- Third lesson -->
                <!-- Fourth lesson -->
                <tr>
                  <td>4</td>
                  <td>10.45 – 11.25</td>
                  <!-- First Group -->
                  <td>
                      <label style="font-weight:bold">{{ grade?.saturdayFourthLessonFG }}</label>
                      <br>
                      <label>{{ grade?.saturdayFourthLessonTeacherFG }} </label>
                      <label>{{ grade?.saturdayFourthLessonClassroomFG }}</label>
                </td>
                  <!-- Second Group -->
                <td>
                    <label style="font-weight:bold">{{ grade?.saturdayFourthLessonSG }}</label>
                    <br>
                    <label>{{ grade?.saturdayFourthLessonTeacherSG }} </label>
                    <label>{{ grade?.saturdayFourthLessonClassroomSG }}</label>
                </td>
                </tr>
                <!-- Fourth lesson -->
                <!-- Fifth lesson -->
                <tr>
                  <td>5</td>
                  <td>11.50 – 12.30  </td>
                  <!-- First Group -->
                  <!-- First Group -->
                  <td>
                      <label style="font-weight:bold">{{ grade?.saturdayFifthLessonFG }}</label>
                      <br>
                      <label>{{ grade?.saturdayFifthLessonTeacherFG }} </label>
                      <label>{{ grade?.saturdayFifthLessonClassroomFG }}</label>
                </td>
                  <!-- Second Group -->
                <td>
                    <label style="font-weight:bold">{{ grade?.saturdayFifthLessonSG }}</label>
                    <br>
                    <label>{{ grade?.saturdayFifthLessonTeacherSG }} </label>
                    <label>{{ grade?.saturdayFifthLessonClassroomSG }}</label>
                </td>
                </tr>
                <!-- Fifth lesson -->
                <!-- Sixth lesson -->
                <tr>
                  <td>6</td>
                  <td>12.55 – 13.35</td>
                  <!-- First Group -->
                  <td>
                      <label style="font-weight:bold">{{ grade?.saturdaySixthLessonFG }}</label>
                      <br>
                      <label>{{ grade?.saturdaySixthLessonTeacherFG }} </label>
                      <label>{{ grade?.saturdaySixthLessonClassroomFG }}</label>
                </td>
                  <!-- Second Group -->
                <td>
                    <label style="font-weight:bold">{{ grade?.saturdaySixthLessonSG }}</label>
                    <br>
                    <label>{{ grade?.saturdaySixthLessonTeacherSG }} </label>
                    <label>{{ grade?.saturdaySixthLessonClassroomSG }}</label>
                </td>
                </tr>
                <!-- Sixth lesson -->
                <!-- Seventh lesson -->
                <tr>
                    <td>7</td>
                    <td>13.45 – 14.25</td>
                    <!-- First Group -->
                    <td>
                        <label style="font-weight:bold">{{ grade?.saturdaySeventhLessonFG }}</label>
                        <br>
                        <label>{{ grade?.saturdaySeventhLessonTeacherFG }} </label>
                        <label>{{ grade?.saturdaySeventhLessonClassroomFG }}</label>
                  </td>
                    <!-- Second Group -->
                  <td>
                      <label style="font-weight:bold">{{ grade?.saturdaySeventhLessonSG }}</label>
                      <br>
                      <label>{{ grade?.saturdaySeventhLessonTeacherSG }} </label>
                      <label>{{ grade?.saturdaySeventhLessonClassroomSG }}</label>
                  </td>
                </tr>
                <!-- Seventh lesson -->
                <!-- Eighth lesson -->
                <tr>
                  <td>8</td>
                  <td>14.35 – 15.15</td>
                  <!-- First Group -->
                  <td>
                      <label style="font-weight:bold">{{ grade?.saturdayEighthLessonFG }}</label>
                      <br>
                      <label>{{ grade?.saturdayEighthLessonTeacherFG }} </label>
                      <label>{{ grade?.saturdayEighthLessonClassroomFG }}</label>
                </td>
                  <!-- Second Group -->
                <td>
                    <label style="font-weight:bold">{{ grade?.saturdayEighthLessonSG }}</label>
                    <br>
                    <label>{{ grade?.saturdayEighthLessonTeacherSG }} </label>
                    <label>{{ grade?.saturdayEighthLessonClassroomSG }}</label>
                </td>
                </tr>
                <!-- Eighth lesson -->
                <!-- Ninth lesson -->
                <tr>
                    <td>9</td>
                    <td>15.30 – 16.10</td>
                    <!-- First Group -->
                    <td>
                        <label style="font-weight:bold">{{ grade?.saturdayNinthLessonFG }}</label>
                        <br>
                        <label>{{ grade?.saturdayNinthLessonTeacherFG }} </label>
                        <label>{{ grade?.saturdayNinthLessonClassroomFG }}</label>
                  </td>
                    <!-- Second Group -->
                  <td>
                      <label style="font-weight:bold">{{ grade?.saturdayNinthLessonSG }}</label>
                      <br>
                      <label>{{ grade?.saturdayNinthLessonTeacherSG }} </label>
                      <label>{{ grade?.saturdayNinthLessonClassroomSG }}</label>
                  </td>
                </tr>
                <!-- Ninth lesson -->
                <!-- Tenth lesson -->
                <tr>
                  <td>10</td>
                  <td>16.15 – 16.55  </td>
                  <!-- First Group -->
                  <td>
                      <label style="font-weight:bold">{{ grade?.saturdayTenthLessonFG }}</label>
                      <br>
                      <label>{{ grade?.saturdayTenthLessonTeacherFG }} </label>
                      <label>{{ grade?.saturdayTenthLessonClassroomFG }}</label>
                </td>
                  <!-- Second Group -->
                <td>
                    <label style="font-weight:bold">{{ grade?.saturdayTenthLessonSG }}</label>
                    <br>
                    <label>{{ grade?.saturdayTenthLessonTeacherSG }} </label>
                    <label>{{ grade?.saturdayTenthLessonClassroomSG }}</label>
                </td>
                </tr>
                <!-- Tenth lesson -->
              </tbody>
            </table>
        </mat-tab>
    </mat-tab-group>
  </mat-card>

