<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form [formGroup]="form" (submit)="onSaveTeacher()" *ngIf="!isLoading">
    <mat-form-field>
      <mat-select placeholder="Teacher Department" formControlName="teacherDepartment" >
        <mat-option>--</mat-option>
        <mat-option *ngFor="let subject of subjects" [value]="subject.subjectName">
          {{subject.subjectName}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="form.get('teacherDepartment').hasError('required')">Please choose a teacher department</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="text" formControlName="teacherName" placeholder="Teacher Name" >
      <mat-error *ngIf="form.get('teacherName').invalid">Please enter a teacher name.</mat-error>
    </mat-form-field>
    <button mat-raised-button color="accent" type="submit">Save Teacher</button>
  </form>
</mat-card>





