<mat-card>
<mat-spinner *ngIf="isLoading"></mat-spinner>
<mat-list *ngIf="!isLoading">
  <mat-list-item *ngFor="let subject of subjects">
    <p>{{ subject.subjectName }}</p>
    <span class="spacer"></span>
    <a mat-button color="primary" [routerLink]="['/subjects/edit', subject.id]">EDIT</a>
    <button mat-button color="warn" (click)="onDelete(subject.id)">DELETE</button>
    <mat-divider [inset]="true"></mat-divider>
  </mat-list-item>
</mat-list>
<p class="info-text mat-body-1" *ngIf="subjects.length <= 0 && !isLoading">No subjects added yet!</p>
</mat-card>
